<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PresentViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B555CE471F7384E800DCC5D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B555CE601F7384E900DCC5D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B555CE6B1F7384E900DCC5D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
